#header1-4 .btn {
  font-size: 11px;
}
#header3-b H3 {
  text-align: center;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#testimonials1-7 .mbr-reviews__author-name {
  text-align: left;
}
#contacts2-a P {
  text-align: left;
  font-size: 13px;
  color: #efefef;
}
